.menu-toggler{
    top: auto;
    z-index: 1000;
    top: 2%;
    border: none;
    color: #919191;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition: 0.5s;
    margin-left: 12.5px;
    margin-right: 12.5px;
}
#pane-side{
    min-width: 80px;
}
.svg-icon {
    width: 1.2em;
    height: 1.2em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #919191;
}
.svg-icon circle {
    stroke: #919191;
    stroke-width: 1;
} 